@using eShopSolution.ViewModels.System.Users
@model ChangePasswordViewModel

    <style>
        .page-title h1, .page-title h2 {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 0px;
            font-family: 'Poppins', sans-serif;
        }

        .page-content {
            margin-bottom: 30px;
            padding: 0px;
            overflow: hidden;
        }

            .page-content .page-title,
            .page-title {
                margin: 0 0 5px;
                padding: 0 0 8px;
                border-bottom: 1px solid #e5e5e5;
                position: relative;
            }

                .page-content .page-title:before,
                .page-title:before {
                    position: absolute;
                    left: 0;
                    height: 3px;
                    bottom: -2px;
                    content: "";
                    background: #e83f33;
                    width: 130px;
                }
    </style>

    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb-tree">
                        <li><a href="/">Trang chủ</a></li>
                        <li><a asp-action="Index" asp-controller="Account">Tài khoản</a></li>
                        <li>Đổi mật khẩu</li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /BREADCRUMB -->

    <section class="main-container col2-right-layout">
        <div class="main container">
            <div class="row">
                <div class="col-main col-sm-12 col-xs-12">
                    <div class="page-title">
                        <h2>Đổi mật khẩu</h2>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="col-md-4">
                                @{
                                    var claims = User.Claims.ToList();
                                    var userId = claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier).Value;
                                }
                                <form method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <input type="hidden" asp-for="UserId" class="form-control" value="@userId" />
                                    <div class="form-group">
                                        <label asp-for="CurrentPassword"></label>
                                        <input asp-for="CurrentPassword" class="form-control" />
                                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="NewPassword"></label>
                                        <input asp-for="NewPassword" class="form-control" />
                                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ConfirmPassword"></label>
                                        <input asp-for="ConfirmPassword" class="form-control" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
