<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - Administration</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="~/css/mystyle.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <!--sweet aler 2-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body class="sb-nav-fixed">
    @await Component.InvokeAsync("Navigation")
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Hệ thống quản trị</div>
                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Trang chủ
                        </a>
                        <div class="sb-sidenav-menu-heading">Hệ thống</div>
                        <a class="nav-link" asp-controller="Product" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-mobile"></i></div>
                            Sản phẩm
                        </a>
                        <a class="nav-link" asp-controller="Category" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-list-ul"></i></div>
                            Danh mục
                        </a>
                        <a class="nav-link" asp-controller="User" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-address-book"></i></div>
                            Khách hàng
                        </a>
                        <a class="nav-link" asp-controller="Order" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fa fa-shopping-cart"></i></div>
                            Đơn hàng
                        </a>
                        <a class="nav-link" asp-controller="Coupon" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fa fa-credit-card"></i></div>
                            Khuyến mãi
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                @RenderBody()
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Bản quyền thuộc &copy; Electro Store 2021</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>