@using Microsoft.Extensions.Options
@inject IOptions<eShopSolution.WebApp.Data.StripeSettings> Stripe
@{

    Layout = null;

}

<div class="text-center">
    <form asp-action="Processing" asp-controller="Checkout" method="post">
        <article>
            <label>Tổng tiền: $ @Math.Round(@ViewBag.DollarAmount, 2)</label>
        </article>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="@Stripe.Value.PublishableKey"
                data-amount="@ViewBag.Total"
                data-name="[Deveducate]"
                data-description="Flower payments"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="en"
                data-zip-code="true">
        </script>
    </form>
</div>