
@{
    ViewData["Title"] = "Danh sách hình ảnh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid">
    <h1 class="mt-4">Danh sách hình ảnh</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a style="color: #0779e4;" href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách hình ảnh</li>
    </ol>
</div>

