@model eShopSolution.ViewModels.System.Users.RegisterRequest
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .account-login {
        display: inline-block;
        width: 100%;
    }

        .account-login h4 {
            font-weight: 600;
            font-size: 15px;
        }

    .register-benefits h5 {
        font-weight: 600;
        font-size: 13px;
    }

    .box-authentication {
        display: inline-block;
        width: 48%;
        float: left;
    }

        .box-authentication > h3 {
            margin-bottom: 15px;
        }

        .box-authentication label {
            margin-top: 10px;
            margin-bottom: 2px;
        }

        .box-authentication .forgot-pass {
            margin-top: 15px;
        }

        .box-authentication input, .box-authentication textarea {
            border-radius: 3px;
            border: 1px solid #e8e6e2;
            -webkit-box-shadow: inherit;
            box-shadow: inherit;
            width: 50%;
        }

        .box-authentication .button {
            margin-top: 15px;
        }

    button.button {
        display: inline-block;
        border: 0;
        background: #444;
        padding: 6px 16px;
        font-size: 12px;
        border: 1px solid #444;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        color: #fff;
        font-weight: normal;
        transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        border-radius: 3px;
    }

        button.button:hover {
            background: #e83f33;
            border: 1px solid #e83f33;
            transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -webkit-transition: all 0.3s linear;
            color: #fff
        }

    button span {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.5px;
    }

    .box-authentication .required {
        color: #ff0000;
        padding-left: 3px;
    }

    .box-authentication .inline input {
        width: auto;
    }

    .register-benefits {
        margin-top: 12px;
    }

</style>



<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active">Đăng ký</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- Main Container -->
<section class="main-container col1-layout">
    <div class="main container">
        <div class="page-content">
            <div class="account-login">
                <div class="col-md-3 col-sm-2"></div>
                <div class="col-md-6 col-sm-8">
                    <div class="single-input p-bottom50 clearfix">
                        <form asp-controller="Login" asp-action="Register" method="post">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="check-title">
                                        <h4>Khách hàng mới</h4>
                                    </div>
                                </div>
                                <div class="col-xs-12" style="margin-top:15px">
                                    <label>Tên người dùng <span class="required" style="color:red">*</span></label>
                                    <div class="input-text">
                                        <input type="text" asp-for="Name" class="form-control">
                                    </div>
                                </div>
                                <div class="col-xs-12" style="margin-top:15px">
                                    <label>Địa chỉ <span class="required" style="color:red">*</span></label>
                                    <div class="input-text">
                                        <input type="text" asp-for="Address" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6" style="margin-top:15px">
                                    <label>Email <span class="required" style="color:red">*</span></label>
                                    <div class="input-text">
                                        <input type="text" asp-for="Email" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6" style="margin-top:15px">
                                    <label>Số điện thoại <span class="required" style="color:red">*</span></label>
                                    <div class="input-text">
                                        <input type="text" asp-for="PhoneNumber" class="form-control">
                                    </div>
                                </div>
                                <div class="col-xs-12" style="margin-top:15px">
                                    <label>Tên tài khoản <span class="required" style="color:red">*</span></label>
                                    <div class="input-text">
                                        <input type="text" asp-for="UserName" class="form-control">
                                    </div>
                                </div>
                                <div class="col-xs-12" style="margin-top:15px">
                                    <label>Mật khẩu <span class="required" style="color:red">*</span></label>
                                    <div class="input-text">
                                        <input type="password" asp-for="Password" class="form-control">
                                    </div>
                                </div>
                                <div class="col-xs-12" style="margin-top:15px">
                                    <label>Xác nhận mật khẩu <span class="required" style="color:red">*</span></label>
                                    <div class="input-text">
                                        <input type="password" asp-for="ConfirmPassword" class="form-control">
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    <span class="text-danger">@Html.ValidationSummary(true)</span>
                                </div>
                                <div class="col-xs-12" style="margin-top:15px">
                                    <div class="submit-text">
                                        <button class="button"><i class="fa fa-user"></i>&nbsp; <span>Đăng ký</span></button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main Container End --> 